html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Garamond", serif;
}

header {
  background-color: #978F66;
  height: 80px;
}

.header-logo {
  display: inline-block;
  color: #622B14;
  height: 30px;
  margin: 25px 35px;
  font-size: 30px;
  font-weight: lighter;
}